
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

$font_family_os: 'Open Sans', Arial, Helvetica, sans-serif;
$font_family_h: 'Antipasto Pro', 'Open Sans', Arial, Helvetica, sans-serif;

$color_text: #000; //#666666;
$color_h: #000; //#1f1f1f;
$color_a: #008dbf;
$max-width: 1340px;

@mixin clear() {
    content: "";
    display: block;
    clear: both;
}

@mixin decor_b() {
    position: relative;
	
    &:before, &:after {
	content: "";
	position: absolute;
	left: 0%;
	width: 8px;
	height: 60px;
	background-color: #ed6e2e;
	-webkit-transform: skew(-25deg);
	-moz-transform: skew(-25deg);
	-o-transform: skew(-25deg);
	transform: skew(-25deg);
    }
    &:before {
	top: -80px;
	margin-left: 155px;
	background: #5cb030; /* for non-css3 browsers */

	background: -webkit-linear-gradient(top, #c0e604, #5cb030); /* для webkit-браузеров */
	background: -moz-linear-gradient(top,  #c0e604,  #5cb030); /* для firefox 3.6+ */
	background: -o-linear-gradient(top,  #c0e604,  #5cb030); /* для Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c0e604,  #5cb030); /* для IE10+ */
	background: linear-gradient(to top, #5cb030, #c0e604);
    }
    &:after {
	bottom: -60px;
	margin-left: 15px;
	background: #0660aa; /* for non-css3 browsers */

	background: -webkit-linear-gradient(top, #009dc6, #0660aa); /* для webkit-браузеров */
	background: -moz-linear-gradient(top,  #009dc6,  #0660aa); /* для firefox 3.6+ */
	background: -o-linear-gradient(top,  #009dc6,  #0660aa); /* для Opera 11.10+ */
	background: -ms-linear-gradient(top,  #009dc6,  #0660aa); /* для IE10+ */
	background: linear-gradient(to top, #0660aa, #009dc6);
    }
}
@mixin decor_s() {
    position: relative;
	
    &:before, &:after {
	content: "";
	position: absolute;
	left: 0%;
	width: 4px;
	height: 30px;
	background-color: #ed6e2e;
	-webkit-transform: skew(-25deg);
	-moz-transform: skew(-25deg);
	-o-transform: skew(-25deg);
	transform: skew(-25deg);
    }
    &:before {
	top: -43px;
	margin-left: 95px;
	background: #5cb030; /* for non-css3 browsers */

	background: -webkit-linear-gradient(top, #c0e604, #5cb030); /* для webkit-браузеров */
	background: -moz-linear-gradient(top,  #c0e604,  #5cb030); /* для firefox 3.6+ */
	background: -o-linear-gradient(top,  #c0e604,  #5cb030); /* для Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c0e604,  #5cb030); /* для IE10+ */
	background: linear-gradient(to top, #5cb030, #c0e604);
    }
    &:after {
	bottom: -48px;
	margin-left: 40px;
	background: #0660aa; /* for non-css3 browsers */

	background: -webkit-linear-gradient(top, #009dc6, #0660aa); /* для webkit-браузеров */
	background: -moz-linear-gradient(top,  #009dc6,  #0660aa); /* для firefox 3.6+ */
	background: -o-linear-gradient(top,  #009dc6,  #0660aa); /* для Opera 11.10+ */
	background: -ms-linear-gradient(top,  #009dc6,  #0660aa); /* для IE10+ */
	background: linear-gradient(to top, #0660aa, #009dc6);
    }
}

@mixin transition($property) {
	-webkit-transition: $property 0.3s ease-out 0s;
	-moz-transition: $property 0.3s ease-out 0s;
	-o-transition: $property 0.3s ease-out 0s;
	transition: $property 0.3s ease-out 0s;
}
@mixin transition_slow($property) {
	-webkit-transition: $property 0.6s ease-out 0s;
	-moz-transition: $property 0.6s ease-out 0s;
	-o-transition: $property 0.6s ease-out 0s;
	transition: $property 0.6s ease-out 0s;
}

body {   
    font-family: $font_family_os;
    font-size: 14px;
    line-height: 162.5%;
    font-weight: 400;
    color: $color_text;
    
    //background: url(images/site.jpg) center top no-repeat;
//background-size: auto;
}
.wrapper {
	display: table;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100%;
}
#index .wrapper, .questions .wrapper, .questions_page .wrapper, .about .wrapper {
	display: block;
	height: auto;
}
a {
    text-decoration: none;
    color: $color_a;
    //@include transition(color);
}
a:hover {
    text-decoration: underline;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-weight: 300;
	line-height: 125%;
	font-family: $font_family_h;
}

h1, .h1 {
    font-size: 55px;
    text-align: center;
    //text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 10px;
    line-height: 100%;  
}

h2, .h2 {
    font-size: 45px;
    line-height: 100%;
}
h3, .h3 {
    font-size: 35px;
}
h4, .h4 {
    font-size:25px;
}
h5, .h5 {
    font-size: 20px;
}
h6, .h6 {
    font-size: 16px;
}

@media screen and (max-width: 1300px) {
    h1, .h1 {
	font-size: 50px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	line-height: 100%;  
    }
    
    h2, .h2 {
	font-size: 41px;
    }
    h3, .h3 {
	font-size: 32px;
    }
    h4, .h4 {
	font-size:23px;
    }
    h5, .h5 {
	font-size: 18px;
    }
    h6, .h6 {
	font-size: 15px;
    }
}
@media screen and (max-width: 1000px) {
    h1, .h1 {
	font-size: 45px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	line-height: 100%;  
    }
    
    h2, .h2 {
	font-size: 37px;
    }
    h3, .h3 {
	font-size: 29px;
    }
    h4, .h4 {
	font-size:20px;
    }
    h5, .h5 {
	font-size: 17px;
    }
    h6, .h6 {
	font-size: 15px;
    }
}

@media screen and (max-width: 800px) {
    h1, .h1 {
	font-size: 40px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	line-height: 100%;  
    }
    
    h2, .h2 {
	font-size: 32px;
    }
    h3, .h3 {
	font-size: 25px;
    }
    h4, .h4 {
	font-size:19px;
    }
    h5, .h5 {
	font-size: 16px;
    }
}
@media screen and (max-width: 590px) {
    h1, .h1 {
	font-size: 35px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	line-height: 100%;  
    }
    
    h2, .h2 {
	font-size: 28px;
    }
    h3, .h3 {
	font-size: 23px;
    }
    h4, .h4 {
	font-size:18px;
    }
}
@media screen and (max-width: 450px) {
    h1, .h1 {
	font-size: 30px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	line-height: 100%;  
    }
    
    h2, .h2 {
	font-size: 25px;
    }
    h3, .h3 {
	font-size: 20px;
    }
    h4, .h4 {
	font-size:17px;
    }
}



a.button {
	padding: 0 10px;
	margin-left: 20px;
	
        height: 40px;
	
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	
	text-align: center;
	text-decoration: none;
	
	font-size: 16px;
	line-height: 40px;
        font-weight: 300;
	font-family: $font_family_h;
	letter-spacing: 0.9px;
	color: #fff;
	background: #0472b2;
	cursor: pointer;
	//border-radius: 3px;
	@include transition(background);
	
	&:before, &:after {
		content: "";
		display: block;
		//width: 22px;
		//height: 40px;
		margin-left: -29px;
		float: left;
		border-bottom: 40px solid #0472b2; 
		border-left: 20px solid transparent;
		border-radius: 0px 0px 0px 4px;
		@include transition(border-color);
	}
	&:after {
		margin-left: 0px;
		margin-right: -29px;
		float: right;
		border: 0;
		border-top: 40px solid #0472b2; 
		border-right: 20px solid transparent;
		border-radius: 0px 4px 0px 0px;
	}
	&:hover {
		background: #0589d6;
	}
	
	&:hover:before, &:hover:after {
		border-bottom-color: #0589d6;
		border-top-color: #0589d6; 
	}
	&:active,  {
		background: #059ff9; 
	}
	&:active:before, &:active:after {
		border-bottom-color: #059ff9;
		border-top-color: #059ff9;
	}
	
}

@media screen and (max-width: 450px) {
    .button_block {
	text-align: center;
	
	a.button {
		margin-left: 0;
	}
    }
}

.slick-slider {
	position: relative;
	margin: 0 auto;

	.slick-arrow {
		position: absolute;
		top: 50%;
		margin-top: -20px;
		width: 30px;
		height: 40px;
		//text-indent: 10000px;
		//overflow: hidden;
		z-index: 5;
		outline: none;
		background: rgba(255, 255, 255, 0.5) center no-repeat;
		cursor: pointer;
		@include transition(background-color);
		
		&:hover {
			background-color: rgba(255, 255, 255, 1);
			
			&:before {
				border-top-color: rgba(255, 255, 255, 1);
				border-bottom-color: rgba(255, 255, 255, 1); 
			}
		}
		
		&:before {
			content: "";
			display: block;
			//width: 22px;
			//height: 40px;
			//border-radius: 1px 0px 0px 3px;
			@include transition(border-color);
		}
	}
	.slick-prev {
		left: 10px;
		background-image: url(images/arr_prev_blue.png);
		
		&:before {
			margin-right: -20px;
			float: right;
			border-top: 40px solid rgba(255, 255, 255, 0.5); 
			border-right: 20px solid transparent;
		}
	}
	.slick-next {
		background-image:  url(images/arr_next_blue.png);
		right: 10px;
		
		&:before {
			margin-left: -20px;
			float: left;
			border-bottom: 40px solid rgba(255, 255, 255, 0.5); 
			border-left: 20px solid transparent;
		}
	}
	
}

.tabs_container {
	position: relative;
}
    
.tab {
	height: 0;
	overflow: hidden;
	opacity: 0;
}
.tab.active {
	opacity: 1;
	height: auto;
	overflow: visible;
}

.tab_buttons, .tab_buttons_in {
	text-align: center;
	position: relative;
	
	
	> span {
		display: inline-block;
		padding: 15px 35px;
		//color: #fff;
		cursor: pointer;
		//font-family: $font_family_h;
		font-family: $font_family_os;
		font-size: 18px; //20px;
		box-sizing: border-box;
		vertical-align: middle;
		height: 60px;          
		line-height: 30px;
		position: relative;
		
		-webkit-transform: skew(-25deg);
		-moz-transform: skew(-25deg);
		-o-transform: skew(-25deg);
		transform: skew(-25deg);
		
		
		background: #fff; /* for non-css3 browsers */

		    background: -webkit-linear-gradient(top, transparent, #fff); /* для webkit-браузеров */
		    background: -moz-linear-gradient(top,  transparent,  #fff); /* для firefox 3.6+ */
		    background: -o-linear-gradient(top,  transparent,  #fff); /* для Opera 11.10+ */
		    background: -ms-linear-gradient(top,  transparent,  #fff); /* для IE10+ */
		    background: linear-gradient(to top, #fff, transparent);
		
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			border-bottom: 3px solid transparent;
			@include transition(border-color);
		}
		&:hover {
			color: $color_a;
		}
		
		> span, > a {
			-webkit-transform: skew(25deg);
			-moz-transform: skew(25deg);
			-o-transform: skew(25deg);
			transform: skew(25deg);
			display: block;
			overflow: hidden;
		}
	}

}
.tab_buttons_in {
	text-align: left;
	border-bottom: 1px solid #d7e1ea;
	> span {
		max-width: 250px;
		text-align: center;
		height: auto;
		line-height: 120%;
		padding: 0;
		.mask {
			line-height: 80px;
			vertical-align: middle;
			min-height: 80px;
			display: block;
		}
		
		.content {
			display: inline-block;
			padding: 10px 20px;
			line-height: 120%;
			vertical-align: middle;
		}
	}
	
}
.tab_buttons > span.active, .tab_buttons_in > span:hover {
			color: $color_a;
			background: #e6eff2; /* for non-css3 browsers */

		    background: -webkit-linear-gradient(top, transparent, #e6eff2); /* для webkit-браузеров */
		    background: -moz-linear-gradient(top,  transparent,  #e6eff2); /* для firefox 3.6+ */
		    background: -o-linear-gradient(top,  transparent,  #e6eff2); /* для Opera 11.10+ */
		    background: -ms-linear-gradient(top,  transparent,  #e6eff2); /* для IE10+ */
		    background: linear-gradient(to top, #e6eff2, transparent);
		    
			&:after {
				border-color: #009dc6;
			}
}

.tab_dots {
	text-align: center;
	position: relative;
	border-top: 1px solid #d7e1ea;
	
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top:0;
		width: 100%;
		height: 30px;
		background: url(images/tabs_shadow.png) no-repeat center top / 100% 100%;
	}
	
	li {
		display: inline-block;
		padding: 25px 5px 0;
		margin: 0 0px;
		cursor: pointer;
		//font-family: $font_family_h;
		font-size: 15px; //17px;
		line-height: 145%;
		box-sizing: border-box;
		//min-height: 60px; 
		position: relative;
		
		&:hover, &.active {
			color: $color_a;
		}
		
		.content {
			padding: 5px 2px 0 0px;
			//min-height: 45px;
			box-sizing: border-box;
			letter-spacing: 0.5;
			text-shadow: 0 0 1px rgba(0,0,0,0.2);
		}
		.icon {
			background: center left no-repeat;
			margin-right: 15px;
			margin-top: -5px;
			float: left;
			width: 35px;
			height: 34px;
			opacity: 0.3;
			@include transition(opacity);
		}
		
		&:hover .icon, &.active .icon {
			opacity: 1;
		}
	}
}
@media screen and (max-width: 1300px) {
	.tab_dots {
		li {
			margin: 0 15px;
			.icon {
				margin-right: 10px;
				width: 30px;
				height: 30px;
				background-size: 100% auto;
			}
		}
	}
	
	.tab_buttons_in {
		> span {
			max-width: 185px;
			font-size: 18px;
			line-height: 120%;
			padding: 0;
			.mask {
				line-height: 88px;
				min-height: 85px;
			}
			
			.content {
				padding: 10px 10px;
			}
		}
		
	}
}
@media screen and (max-width: 1000px) {
	.tab_buttons, .tab_buttons_in {
		> span {
			padding: 10px 25px;
			font-size: 18px;
			height: 50px;
		}
	}
	.tab_dots {
		li {
			margin: 0 0px;
			font-size: 16px;
			padding-top: 15px;
			.icon {
				margin-right: 10px;
				width: 25px;
				height: 25px;
			}
		}
	}
	
	.tab_buttons_in {
		padding-top: 15px;
		
		&:after {
			content: '';
			clear: both;
			display: block;
		}
		> span {
			max-width: none;
			width: 33%;
			height: auto;
			font-size: 18px;
			line-height: 120%;
			padding: 0;
			float: left;
			clear: right;
			
			.mask {
				line-height: 65px;
				min-height: 65px;
			}
			
			.content {
				padding: 10px 30px;
			}
		}
		
	}
}

@media screen and (max-width: 800px) {
	
	.tab_buttons_in {
		padding-top: 15px;
		
		&:after {
			content: '';
			clear: both;
			display: block;
		}
		> span {
			max-width: none;
			width: 37%;
			height: auto;
			font-size: 16px;
			line-height: 120%;
			
			&:last-child {
				width: 25%;
			}
			
			.mask {
				line-height: 65px;
				min-height: 65px;
			}
			
			.content {
				padding: 10px 15px;
			}
		}
		
	}
}


.num {
	position: absolute;
	width: 157px;
	height: 120px;
	top: 0;
	left: 0;
	
	span {
		width: 100%;
		height: 100%;
		display: block;
	}
	    
	.content {
		background: no-repeat center / 100% auto ;
		text-indent: -1000px;
	}
}

@media screen and (max-width: 1300px) {
    .num {
	width: 137px;
	height: 104px;
    }
}
@media screen and (max-width: 1000px) {
    .num {
	width: 117px;
	height: 94px;
    }
}
@media screen and (max-width: 800px) {
    .num {
	width: 97px;
	height: 84px;
    }
}

@media screen and (max-width: 600px) {
    .num {
	width: 87px;
	height: 84px;
    }
}

@media screen and (max-width: 590px) {
    .num {
	width: 77px;
	height: 74px;
    }
}

.points {
	position: relative;
	max-width: $max-width;
	height: 100%;
	min-height: 500px;
	margin: 0 auto;
	
	.point {
		position: absolute;
		min-height: 45px;
		//overflow: hidden;
		min-width: 45px;
		line-height: 145%;
		color: #fff;
		padding-left: 12px;
		left: 50%;
		text-align: left;
		
		
		&:before {
			content: "";
			position: absolute;
			z-index: 1;
			width: 45px;
			height: 45px;
			bottom: 0;
			left: 0;
			background: url(images/point_decor.png) no-repeat center top ;
		}
		
		.hidden {
			overflow: hidden;
			display: block;
			
		}
		
		.content {
			height: 39px;
			box-sizing: border-box;
			display: block;
			background: url(images/point_bg.png) no-repeat right top ;
			padding: 3px 20px 5px 20px;
			font-family: $font_family_h;
			font-size: 18px;
			line-height: 26px;
			font-weight: 700;
			letter-spacing: 1px;
		}
		
		.more_info {
			position: absolute;
			bottom: 27px;
			left:12px;
			width: 311px;
			background: url(images/point_bg_big.png) no-repeat right top / 100% 100%;
			padding: 25px 25px 10px;
			text-align:  left;
			z-index: 10;
			display: none;
			
			&:after {
				content: "";
				position: absolute;
				z-index: 5;
				width: 100%;
				height: 8px;
				bottom: -8px;
				right: -1px;
				background: url(images/point_shadow_big.png) no-repeat center top ;
			}
			
			.close {
				position: absolute;
				width: 14px;
				height: 14px;
				top:20px;
				right: 20px;
				background: url(images/close.png) no-repeat center top ;
				@include transition(transform);
				cursor: pointer;
	    
				&:hover {
				    -webkit-transform: rotate(-90deg);
				    -moz-transform: rotate(-90deg);
				    -o-transform: rotate(-90deg);
				    transform: rotate(-90deg);
				}
			}
			
			h5 {
				margin-bottom: 15px;
				font-weight: 800;
			}
			
			.cont {
					
				font-family: $font_family_os;
				font-size: 14px;
				line-height: 160%;
				margin-bottom: 15px;
				padding-left: 20px;
				background: no-repeat left 4px;
				font-weight: 300;
				
				&.address {
					background-image: url(images/icon_address_white.png);
				}
				&.email {
					background-image: url(images/icon_letter_white.png);
				}
			}
			a {
				color: #fff;
				text-decoration: none;
				
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	
	.point.active {
		
		&:before {
			z-index: 15;
			width: 34px;
			height: 62px;
			left: 12px;
			background: url(images/point_decor_big.png) no-repeat center top ;
		}
		
		.hidden {
			display: none;
			
		}
		.more_info {
			display: block;
		}
		
	}
		
}


.in {
	padding: 10px 20px;
        margin: 0 auto;
        max-width: $max-width;
        position: relative;
	
	&:after {
	    @include clear();
	}
}

.main_section .in {
	padding: 40px 20px;
}
.main_section {
	//display: none;
	overflow: hidden;
	z-index: 2;
	position: relative;
}



.fancybox-enabled {
    overflow: auto;
}

.slide_name {
	position: absolute;
	top: 85px;
	right: 50px;
	text-align: center;
	z-index: 5;
	width: 80px;
	
	.slide_num {
		font-size: 64px;
		font-weight: 200;
		color: #008dbf;
		display: inline-block;
		position: relative;
		margin-bottom: 130px;
		
		&:after {
			position: absolute;
			height: 50px;
			width: 1px;
			content: '';
			top: 60px;
			left: 50%;
			background-color: #008dbf;
		}
	}
	
	.name {
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		transform: rotate(-90deg);
		text-transform: uppercase;
		white-space: nowrap;
		//text-align: right;
		//width: 500px;
	}
}
#services_items .slide_name {
	top: 525px;
	right: auto;
	left: 50px;
	
	.slide_num {
		margin-bottom: 330px;
	}
}

#custom_points .slide_name {
	top: 275px;
	
	.slide_num {
		margin-bottom: 250px;
	}
}

#about .slide_name {
	top: 300px;
	right: auto;
	left: 50px;
	
	.slide_num {
		margin-bottom: 150px;
	}
}

#advantages .slide_name {
	top: 70px;
	
	.slide_num {
		margin-bottom: 170px;
	}
}

#projects .slide_name {
	top: 255px;
	right: auto;
	left: 50px;
	
	.slide_num {
		margin-bottom: 230px;
	}
}

#questions .slide_name {
	top: 80px;
	
	.slide_num {
		margin-bottom: 200px;
	}
}

#contacts .slide_name {
	top: 70px;
	right: auto;
	left: 50px;
	
	.slide_num {
		margin-bottom: 170px;
	}
}
@media screen and (max-width: 1600px) {
	.slide_name {
		right: 5px;
	}
	
	#services_items .slide_name, #about .slide_name, #projects .slide_name, #contacts .slide_name {
		left: 5px;
	}
	
}
@media screen and (max-width: 1500px) {
	.slide_name {
		display: none;
	}
}