/* start forms styles */

#letter {
    background: #f7f6f5 url(images/letter_bg.jpg) no-repeat top center / cover;
    overflow: hidden;
    padding-top: 227px;
    padding-bottom: 50px;
    
    .left_block {
	float: left;
	width: 540/1340*100%;
    
	.big {
	    font-size: 35px;
	    line-height: 100%;
	    font-weight: 300;
	    font-family: $font_family_h;
	    margin-bottom: 25px;
	    margin-top: 75px;
	    
	    @include decor_b();
	    
	    &:before {
		margin-left: 110px;
	    }
	    &:after {
		bottom: -80px;
	    }
	}
	
	p {
	    font-weight: 100;
	    font-size: 16px;
	    line-height: 160%;
	    padding-left: 60px;
	}
    }
    
    form {
	margin-left: 720/1340*100%;
	max-width: 540px;
	
	a {
	    color: $color_text;
	    text-decoration: underline;
	    
	    &:hover {
		text-decoration: none;
	    }
	}
    }
}
.form_block {  
    padding-bottom: 30px;
    
    input, textarea, select {
	padding: 5px 20px;
	margin: 0 0 30px;
	width: 100%;
	height: 40px;
	outline: none;
	border: 1px solid transparent;
	border-bottom: 2px solid #d7e1ea;
	background:rgba(255, 255, 255, 0.6);
	font-family: $font_family_os;
	font-size: 14px;
	font-weight: 400;
	line-height: 35px;
	color: $color_text;
        vertical-align: middle;
	box-sizing: border-box;
	&::-webkit-input-placeholder {opacity: 1; color: #666666;}
	&::-moz-placeholder          {opacity: 1; color: #666666;}/* Firefox 19+ */
	&:-moz-placeholder           {opacity: 1; color: #666666;}/* Firefox 18- */
	&:-ms-input-placeholder      {opacity: 1; color: #666666;}
    }
    
    input[type="radio"], input[type="checkbox"] {
	width: auto;
	height: auto;
	margin-bottom: 0;
	opacity: 0;
    }
    
    input[type="checkbox"] + label {
	display: inline-block;
	padding-left: 30px;
	position: relative;
	margin-left: -15px;
	margin-bottom: 25px;
	
	&:before {
	    content: '';
	    position: absolute;
	    width: 20px;
	    height: 20px;
	    left: 0;
	    top: 1px;
	    background: url(images/checkbox.png) no-repeat left bottom;
	}
	
	&:hover:before {
	    background-position: right bottom;
	}
    }
    input[type="checkbox"]:checked + label {
	
	&:before {
	    background-position: left top;
	}
	&:hover:before {
	    background-position: right top;
	}
    }
    
    
    textarea, input.textarea {
	    min-width: 100%;
	    max-width: 100%;
	    min-height: 80px;
	    max-height: 100px;
	    resize: none;
	    margin-bottom: 25px;
    }
    button[type="submit"] {
	    margin-right: 0;
	    margin-left: 20px;
	    margin-bottom: 30px;
	    padding: 0 10px;
	    width: auto;
	    height: 40px;
	    line-height: 40px;
	    font-size: 16px;
	    font-weight: 400;
	    background-color: #0472b2;
	    color: #fff;
	    cursor: pointer;
	    box-sizing: border-box;
	    @include transition(background-color);
	    border: 0;
	    border-radius: 0;
	    
	    &:before, &:after {
		content: "";
		display: block;
		margin-left: -30px;
		float: left;
		border-bottom: 40px solid #0472b2; 
		border-left: 20px solid transparent;
		border-radius: 1px 0px 0px 3px;
		@include transition(border-color);
	}
	&:after {
		margin-left: 0px;
		margin-right: -30px;
		float: right;
		border: 0;
		border-top: 40px solid #0472b2; 
		border-right: 20px solid transparent;
		border-radius: 0px 1px 3px 0px;
	}
    }
    button[type="submit"]:hover {
	background: #0589d6;
	&:before, &:after {
	    border-bottom-color: #0589d6;
	    border-top-color: #0589d6; 
	}
    }
    button[type="submit"]:active {
	background: #059ff9;
	&:before, &:after {
	    border-bottom-color: #059ff9;
	    border-top-color: #059ff9;
	}
    }
    
}

.contacts_page #letter {
    margin-top: -160px;
}





@media screen and (max-width: 1600px) {
    
    
}

@media screen and (max-width: 1100px)  {
#letter {
    
    .left_block {
	width: 50%;
    }
}
    
}
@media screen and (max-width: 999px) {
#letter {
    
    .left_block {
	.big {
	    font-size: 30px;
	    line-height: 100%;
	}
	
	p {
	    font-size: 15px;
	    line-height: 160%;
	}
    }
}
    
}


@media screen and (max-width: 800px) {
    #letter {
    
    .left_block {
	.big {
	    font-size: 25px;
	    line-height: 100%;
	    margin-top: 50px;
	}
	
	p {
	    font-size: 14px;
	    line-height: 160%;
	    padding-left: 45px;
	}
    }
}

.form_block input[type="checkbox"] + label {
    margin-bottom: 0px;
}
.form_block input[type="checkbox"] + label + a {
    //margin-bottom: 25px;
    display: inline-block;
    margin: 0 30px 25px;
}
}

@media screen and (max-width: 590px) {
#letter {
    
    .left_block {
	width: 100%;
	float: none;
	margin-bottom: 50px;
	.big {
	    font-size: 25px;
	    line-height: 100%;
	    margin-top: 50px;
	}
	
	p {
	    font-size: 14px;
	    line-height: 160%;
	    padding-left: 45px;
	}
    }
    
    form {
	margin-left: 0;
    }
}


.form_block input[type="checkbox"] + label + a {
    margin: 0 0px 25px;
}
    
}

@media screen and (max-width: 400px) {
.form_block{
    input[type="checkbox"] + label + a {
	margin: 0 30px 25px;
    }
    input, textarea, select {
	margin: 0 0 15px;
    }
}  
}



/* end forms styles */