/* start projects styles */

#projects {
    z-index: 1;
    overflow: hidden;
    background: url(images/projects_bg.jpg) no-repeat center / cover;
    padding-top: 200px;
    margin-top: -35px;
    padding-bottom: 270px;
    margin-bottom: -224px;
    
    .in {
        padding: 35px 0 40px;
    }
    
    .h1 {
        float: left;
        margin-right: 35px;
    }
    
    .button_block {
        padding-top: 10px;
    }
}
.projects_slider, .projects {
    clear: left;
    
    .slide {
        float: left;
        //width: 380px;
        //@include transition_slow(width);
        //background-color: #fff;
        //margin: 0 50px 50px;
        position: relative;
        //box-shadow: 0 20px 20px rgba(33, 97, 143, 0.25);
        height: 300px;
        @include transition_slow(all);
        
        > div {
            height: 100%;
            position: relative;
            @include transition_slow(all);
            box-shadow: 0 20px 20px rgba(33, 97, 143, 0.25);
        }
        
        .bg_img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: center no-repeat;
            background-size: cover;
            z-index: 1;
        }
        
        a {
            position: absolute;
            z-index: 5;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }
        .info {
            position: absolute;
            bottom: 0;
            left: 0;
            box-sizing: border-box;
            width: 100%;
            padding: 25px 55px 25px 25px;
            background: #fff;
            z-index: 3;
            font-family: $font-family_h;
            font-size: 20px;
            line-height: 125%;
            color: $color_a;
            
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                height: 100%;
                width: 50px;
                background: url(images/arr_next_blue.png) no-repeat center;
                @include transition(all);
            }
        }
        &:hover .info {
            
            &:after {
                width: 30px;
            }
        }
    }
    .slick-center {
        //width: 540px;
        height: 425px;
        box-shadow: none;
        
        > div {
            margin: 0 -80px 0;
        }
    }
    
}
.projects_slider {
    clear: left;
    margin: 0 -20px;
    min-height: 475px;
    
    .slide {
        width: 380px;
        margin: 0 50px 50px;
    }
}
.projects {
    //margin: 0;
    padding: 70px 1px 30px;
    text-align: center;
    
    > div {
        width: 362/1340*100%;
        margin: 0 9px 20px;
        height: 300px;
        position: relative;
        
        >div {
            width: 100%;
        }
    }
    > div:nth-child(8n+1), > div:nth-child(8n+4), > div:nth-child(8n+7)  {
        float: left;
        clear: left;
    }
    > div:nth-child(8n+2), > div:nth-child(8n+5)  {
        float: none;
        width: 530/1340*100%;
        height: 460px;
        display: inline-block;
        vertical-align: top;
        //margin-bottom: -100px;
    }
    
    > div:nth-child(8n+3), > div:nth-child(8n+6), > div:nth-child(8n+8) {
        float: right;
        clear: right;
    }
    > div:nth-child(8n+4), > div:nth-child(8n+6){
        margin-top: -160px;
        
    }
    > div:nth-child(8n+7), > div:nth-child(8n+8) {
        margin-top: -320px;
        
    } 
    
    .slide {
        //float: none;
        //width: 30%;
        //margin: 0 19px;
        position: relative;
        text-align: left;
        //height: 300px;//
        //margin: 0 10px 50px;
        
    }
}

@media screen and (max-width: 1600px) {
    
}

@media screen and (max-width: 1300px){
    
}
@media screen and (max-width: 999px) {
    
    
}
@media screen and (max-width: 800px) {
}

@media screen and (max-width: 590px) {
    
}

@media screen and (max-width: 450px) {
   
}

/* end other jobs styles */