/* start reviews styles */

#questions {
    //background-color: #fff;
    z-index: 5;
    overflow: hidden;
    
    &:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 793/1920*100%;
	background: url(images/questions_img.png) no-repeat left top / 100% auto ;
	
    }
    
    .in {
        padding: 40px 0;
    }
    
    .h1 {
	font-size: 50px;
	line-height: 90%;
	text-align: left;
	margin-left: 480/1340*100%;
	
	.mask {
	    display: block;
	}
    }
    
    
    .questions {
        margin-left: 480/1340*100%;
        //padding-top: 70px;
        padding-bottom: 1px;
	
	.h5 {
	    border: 0;
	    border-top: 1px solid #d7e1ea;
	    background: url(images/tabs_shadow.png) no-repeat center top / 100% auto ;
	    position: relative;
	    padding: 15px 0 10px ;
	    margin-bottom: 0;
	    font-size: 20px;
	    line-height: 145%;
	    
	    &:first-child {
		background: none;
		border: 0;
	    }
	    
	    .content {
		padding: 10px 50px;
	    }
	    
	    .count {
		background: url(images/count_bg.png) no-repeat center top / 100% auto ;
		font-family: $font_family_os;
		color: #fff;
		font-weight: 800;
		text-shadow: 0 2px 1px rgba(33, 97, 143, 0.25);
		width: 34px;
		height: 34px;
		text-align: center;
		padding-top: 4px;
		box-sizing: border-box;
		position: absolute;
		left: 0;
		top: 4px;
	    }
	    
	    
	    .ui-accordion-header-icon {
		position: absolute;
		right: 10px;
		top: 30px;
		width: 12px;
		height: 12px;
		background: url(images/arr_bottom_blue.png) no-repeat center;
		@include transition_slow(transform);
	    }
	    
	    &.ui-state-active .ui-accordion-header-icon {
		-webkit-transform: rotate(-180deg);
		-moz-transform: rotate(-180deg);
		-o-transform: rotate(-180deg);
		transform: rotate(-180deg);
	    }
	}
            
	.text {
	    border: 0;
	    padding: 0px 50px;
	    color: $color_text;
	    line-height: 162%;
	}
           
    }

    
}

@media screen and (max-width: 1600px) {
    #questions {
        
    }
}

@media screen and (max-width: 1300px){
    #questions {
        
    }
}
@media screen and (max-width: 1099px) {
    #questions {
        
    }
}
@media screen and (max-width: 800px) {
    
}

@media screen and (max-width: 610px) {
    #questions {
        
    }
}

@media screen and (max-width: 450px) {
    #questions {
        
    }
}

/* end reviews styles */