/* start services styles */

#services {
    //background-color: #fff;
    z-index: 2;
    overflow: hidden;
    
    .slide {
	position: relative;
	padding-top: 45px;
	opacity: 1!important;
	&:after {
	@include clear();
	}
	
    }
    
    .image_block {
	float: right;
	position: relative;
	height: 500px;
	width: 492px;
	margin-right: 140px;
	-webkit-transform: skew(-25deg);
	-moz-transform: skew(-25deg);
	-o-transform: skew(-25deg);
	transform: skew(-25deg);
	overflow: hidden;
	//box-shadow: 0 20px 20px rgba(33, 97, 143, 0.25);
	margin-bottom: 40px;
	    
	    &:before {
		content: "";
		position: absolute;
		z-index: 2;
		//width: 100%;
		height: 100%;
		background: #fff;
		right: 0;
		top: 0;
		@include transition_slow(all);
		
		//transition-delay: 1s;
		//transition-duration: 1s;
	    }
	
	> div {
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    overflow: hidden;
	}
	
	.image {
	    display: block;
	    height: 600px;
	    width: 800px;
	    margin-top: -50px;
	    margin-left: -150px;
	    background: no-repeat center / cover;
	    -webkit-transform: skew(25deg);
	    -moz-transform: skew(25deg);
	    -o-transform: skew(25deg);
	    transform: skew(25deg);
	}
    }
    .slick-slide  {
	z-index: 997 !important;
    }
    .slick-slide.ex-active  {
	z-index: 998 !important;
    }
    .slick-slide.slick-active  {
	z-index: 999 !important;
    }
    .slick-active .image_block {
	box-shadow: 0 20px 20px rgba(33, 97, 143, 0.25);
	> div  {
	    -webkit-animation: slide 1s 0s both;
	    -moz-animation: slide 1s 0s both;
	    animation: slide 1s 0s both;
	    //animation-delay: 0.7s;
	}
    }
    
    .info {
	margin-right: 50%;
	position: relative;
	padding: 40px 0 20px 40px;
	
	.num {
	    display: none;
	}
	
	.h2 {
	    position: relative;
	    margin-bottom: 10px;
	    margin-right: -40px;
	}
	
	ul {
	    padding-bottom: 30px;
	    li .content {
		padding: 3px 0 3px 32px;
		background: url(images/li.png) left center no-repeat;
	    }
	}
	
	.button_block {
	    opacity: 0;
	    @include transition_slow(opacity);
	    transition-delay: 0.7s;
	}
    }
    
    .slick-active .info .button_block {
	opacity: 1;
    }
    
    .slick-slider {
	
	.slick-list {
	    height: auto;
	}

	.slick-arrow {
		top: 455px;
		margin-top: 0;
		width: 30px;
		height: 40px;
		background: center no-repeat;
		
		&:hover {
			background-color: rgba(255, 255, 255, 0.5);
			
			&:before, &:after {
				border-top-color: rgba(255, 255, 255, 0.5);
				border-bottom-color: rgba(255, 255, 255, 0.5); 
			}
		}
		
		&:before, &:after {
			content: "";
			display: block;
			//width: 22px;
			//height: 40px;
			//border-radius: 1px 0px 0px 3px;
			@include transition(border-color);
		}
	}
	.slick-prev {
		right: 726px;
		left: auto;
		//margin-left: -86px;
		background-image: url(images/arr_prev_white.png);
		background-color: #0472b2;
		
		&:before {
			margin-right: -19px;
			float: right;
			border-top: 40px solid #0472b2; 
			border-right: 20px solid transparent;
		}
		&:after {
			margin-left: -19px;
			float: left;
			border-bottom: 40px solid #0472b2; 
			border-left: 20px solid transparent;
		}
		&:hover {
			background-color: #0472b2;
			
			&:before, &:after {
				border-top-color: #0472b2;
				border-bottom-color: #0472b2; 
			}
		}
	}
	.slick-next {
		background-image:  url(images/arr_next_blue.png);
		right: 676px;
		//margin-right: 6px;
		background-color: rgba(255, 255, 255, 0.5);
		
		&:before {
			margin-left: -20px;
			float: left;
			border-bottom: 40px solid rgba(255, 255, 255, 0.5); 
			border-left: 20px solid transparent;
		}
		&:after {
			margin-right: -20px;
			float: right;
			border-top: 40px solid rgba(255, 255, 255, 0.5); 
			border-right: 20px solid transparent;
		}
		
		
	}
	
    }
    
}

#services_items {
    overflow: hidden;
    z-index: 1;
    padding-top: 500px;
    margin-top: -500px;
    padding-bottom: 160px;
    margin-bottom: -250px;
    
    background: url(images/services_bg.jpg) no-repeat center / cover;
    
    .h2 {
	width: 30%;
	line-height: 90%;
	float: left;
	margin-right: 5%;
	padding-top: 55px;
	margin-bottom: 30px;
	position: relative;
	z-index: 2;
	
	@include decor_b();
	
	&:before {
	    top: -25px;
	}
	&:after {
	    bottom: -80px;
	}
	
    }
    
    .h2 + p {
	float: left;
	clear: left;
	width: 30%;
	//margin-right: 5%;
	padding-left: 50px;
	box-sizing: border-box;
	position: relative;
	z-index: 2;
	font-size: 18px;
    }
    
}
    
.services_items {
    position: relative;
    text-align: justify;
	
	&:after {
	    content: '';
	    width: 100%;
	    display: inline-block;
	    //width: 30%;
	}
    
    .serv_item, .adv {
	width: 30%;
	height: 300px;
	margin-bottom: 90px;
	text-align: left;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	box-shadow: 0 20px 20px rgba(33, 97, 143, 0.25);
	@include transition(all);
	
	> div {
	    width: 100%;
	    height: 100%;
	    position: relative;
	}
	
	a {
	    display: block;
	    width: 100%;
	    height: 100%;
	    color: $color_text;
	    text-decoration: none;
	    
	    &:hover {
		color: $color_a;
	    }
	}
	
	.img {
	    display: block;
	    width: 100%;
	    height: 100%;
	    background: no-repeat center / cover;
	}
	
	.h4 {
	    position: absolute;
	    top: 35px;
	    left: 40px;
	    
	    strong {
		display: block;
	    }
	}
	
    }
	.serv_item:hover {
	    box-shadow: 0 20px 20px rgba(33, 97, 143, 0.7);
	}
    
    .adv {
	box-shadow: none;
	box-sizing: border-box;
	border: 10px solid #e5f1f7;
	overflow: visible;
	line-height: 300px;
	vertical-align: middle;
	width: 30%;
	
	@include decor_b();
	
	&:before {
	    top: -10px;
	    margin-left: 195px;
	}
	&:after {
	    bottom: -10px;
	    margin-left: 70px;
	}
	
	.content {
	    font-size: 25px;
	    line-height: 130%;
	    font-family: $font_family_h;
	    display: inline-block;
	    vertical-align: middle;
	    height: auto;
	    width: 100%;
	    box-sizing: border-box;
	    padding: 0 55px 20px;
	}
	
	&.adv_cust_rep {
	    width: 65%;
	    .content {
		font-size: 35px;
		line-height: 130%;
	    }
	}
    }
}

@media screen and (max-width: 1600px) {
    #services {
	.image_block {
	    height: 449px;
	    width: 442px;
	    margin-right: 120px;
	    margin-bottom: 40px;
	    .image {
		display: block;
		height: 550px;
		width: 733px;
	    }
	}
	.info {
	    margin-right: 55%;
	    padding: 40px 0 20px 30px;
	}
	
	.slick-slider .slick-prev {
	    right: 652px;
	    top: 420px;
	}
	.slick-slider .slick-next {
	    right: 602px;
	    top: 420px;
	}
    }
    

}

@media screen and (max-width: 1340px)  {
    #services {
	.image_block {
	    height: 348px;
	    width: 342px;
	    margin-right: 100px;
	    margin-bottom: 40px;
	    margin-top: 40px;
	    
	    .image {
		display: block;
		height: 448px;
		width: 642px;
	    }
	}
	.info {
	    margin-right: 55%;
	    padding: 25px 0 20px 20px;
	}
	
	.slick-slider .slick-prev {
	    right: 509px;
	    top: 360px;
	}
	.slick-slider .slick-next {
	    right: 459px;
	    top: 360px;
	}
    }
    #services_items {
	.h2 {
	    width: 32%;
	    margin-right: 2%;
	    padding-top: 50px;
	    margin-top: -30px;
	}
	
    }
    .services_items {
	.serv_item, .adv {
	    width: 32%;
	    height: 250px;
	    margin-bottom: 70px;
	}
	
	.adv {
	    border: 10px solid #e5f1f7;
	    line-height: 250px;
	    width: 30%;
	    
	    &:before {
		margin-left: 160px;
	    }
	    &:after {
		margin-left: 70px;
	    }
	    
	    .content {
		font-size: 20px;
		line-height: 130%;
		padding: 0 20px 20px;
	    }
	    
	    &.adv_cust_rep {
		width: 65%;
		.content {
		    font-size: 32px;
		    line-height: 130%;
		}
	    }
	}
    }

}
@media screen and (max-width: 999px) {
    #services {
	.image_block {
	    height: 246px;
	    width: 242px;
	    margin-right: 60px;
	    margin-bottom: 40px;
	    margin-top: 40px;
	    
	    .image {
		display: block;
		height: 306px;
		width: 442px;
		margin-left: -100px;
		margin-top: -30px;
	    }
	}
	.info {
	    margin-right: 50%;
	    padding: 25px 0 20px 20px;
	}
	
	.slick-slider .slick-prev {
	    right: 329px;
	    top: 330px;
	}
	.slick-slider .slick-next {
	    right: 279px;
	    top: 330px;
	}
    }
    #services_items {
	.h2 {
	    padding-top: 40px;
	    margin-bottom: 20px;
	    &:before {
		margin-left: 110px;
	    }
	    &:after {
		bottom: -60px;
	    }
	}
	
	.h2 + p {
	    font-size: 16px;
	    padding-left: 35px;
	}
	
    }
    .services_items {
	
	.adv {
	    border: 10px solid #e5f1f7;
	    line-height: 250px;
	    width: 30%;
	    
	    .content {
		font-size: 18px;
		line-height: 130%;
		padding: 0 10px 20px;
	    }
	    
	    &.adv_cust_rep {
		width: 65%;
		.content {
		    font-size: 28px;
		    line-height: 130%;
		}
	    }
	}
    }
}


@media screen and (max-width: 800px) {
    #services {
	
    }
    #services_items {
	.h2 {
	    width: 47%;
	    margin-right: 6%;
	    padding-top: 40px;
	    &:before {
		margin-left: 110px;
	    }
	    &:after {
		bottom: -60px;
	    }
	}
	.h2 + p {
	    width: 47%;
	}
	
    }
    .services_items {
	.serv_item, .adv {
	    width: 47%;
	    height: 250px;
	    margin-bottom: 50px;
	}
	
	.adv {
	    //line-height: 250px;
	    &.adv_cust_rep {
		width: 100%;
	    }
	}
    }
}

@media screen and (max-width: 700px) {
    #services {
	
	.slide {
	    padding-top: 20px;
	}
	.image_block {
	    height: 240px;
	    width: 70%;
	    margin-right: auto;
	    margin-left: auto;
	    margin-bottom: 50px;
	    margin-top: 0px;
	    float: none;
	    
	    .image {
		display: block;
		height: 306px;
		width: 140%;
		margin-left: -20%;
		margin-top: -30px;
	    }
	}
	.info {
	    margin-right: 0%;
	    padding: 25px 0 20px 20px;
	    clear: both;
	}
	
	.slick-slider .slick-prev {
	    right: 60%;
	    margin-right: 10px;
	    top: 260px;
	}
	.slick-slider .slick-next {
	    left: 40%;
	    top: 260px;
	    margin-left: 10px;
	}
    }
}

@media screen and (max-width: 590px) {
    #services {
	
    }
    #services_items {
	.h2 {
	    width: 50%;
	    margin-right: 3%;
	    padding-top: 40px;
	    margin-bottom: 0px;
	    
	    &:before, &:after {
		display: none;
	    }
	}
	.h2 + p {
	    font-size: 14px;
	    width: 50%;
	    padding-left: 0;
	}
    }
    .services_items {
	.serv_item, .adv {
	    width: 47%;
	    height: 180px;
	    margin-bottom: 30px;
	    
	    .h4 {
		left: 20px;
	    }
	}
	.adv {
	    line-height: 180px;
	    
	    &:before {
		margin-left: 130px;
		height: 35px;
		width: 6px;
	    }
	    &:after {
		height: 35px;
		width: 6px;
	    }
	    
	    .content {
		font-size: 15px;
		line-height: 130%;
		padding: 0 10px 20px;
	    }
	    
	    &.adv_cust_rep {
		.content {
		    font-size: 24px;
		    line-height: 130%;
		}
	    }
	}
    }
}

@media screen and (max-width: 450px) {
    #services {
	.in {
	    padding-bottom: 0;
	}
	
	.image_block {
	    height: 200px;
	    width: 60%;
	    
	    .image {
		display: block;
		height: 260px;
		width: 140%;
		margin-left: -20%;
		margin-top: -30px;
	    }
	}
	.info {
	    margin-right: 0%;
	    padding: 25px 0 20px 20px;
	    clear: both;
	}
	
	.slick-slider .slick-prev {
	    right: 60%;
	    margin-right: 10px;
	    top: 220px;
	}
	.slick-slider .slick-next {
	    left: 40%;
	    top: 220px;
	    margin-left: 10px;
	}
    }
    
    #services_items {
	padding-bottom: 200px;
	margin-bottom: -270px;
	.h2 {
	    width: 100%;
	    margin-right: 6%;
	    padding-top: 0px;
	    margin-bottom: 20px;
	    
	    &:before, &:after {
		display: none;
	    }
	}
    }
    .services_items {
	.serv_item, .adv {
	    width: 100%;
	    height: 150px;
	    margin-bottom: 20px;
	    
	    .h4 {
		left: 20px;
	    }
	}
	
	.adv {
	    line-height: 150px;
	    &.adv_cust_rep {
		.content {
		    font-size: 17px;
		    line-height: 130%;
		}
	    }
	}
    }
}

/* end services styles */